.card-header.is-white {
  color: #333;
}

figure {
  min-height: 270px;
}

.card-image {
  padding-top: 13px;
}

figure img {
  max-width:  290px;
  max-height: 290px;
  width:  100%;
  height: auto;
  margin: 0 auto;
}



/* list layout */
.card--list__img {
  width: 150px;
}
.card--list__ctas {
  width: 130px;
}
.card--list__ctas div {
  display: flex;
  justify-content: space-around;
}

.card--list__price,
.card--list__ctas {
  padding-top: 35px;
}
