<div *ngIf="isLoading" class="loaderOverlay">
  <div class="loader">Loading...</div>
</div>


<div class="columns">
  <div class="column is-two-thirds">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ product ? product?.name : 'loading' }}
        </p>
        <span class="card-header-icon">
          <small>{{ product ? (product.price | currency) : 'loading' }}</small>
        </span>
      </header>
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="product ? product.imagePath : 'http://via.placeholder.com/500x500'" [alt]="product?.name" />
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <a class="button is-light" routerLink="/products">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>&nbsp; Back to Products
    </a>

    <hr>

    <a class="button is-success" (click)="addToCart(product)">
      <span class="icon">
        <i class="fas fa-cart-plus"></i>
      </span>&nbsp; Add to Cart
    </a>

    <hr>

    <div class="card-content">
      <div class="content">

        <h2>To add: product image slider and zoom</h2>

        {{ product ? product.description : 'loading' }}
      </div>
    </div>
  </div>
</div>

<hr>

<!-- <h3 class="similar-items-title">You may also be interested in these</h3> -->
<!-- <div class="columns is-multiline">
  <app-product-card
    class="column is-one-third-desktop"
    *ngFor="let product of similarProducts"
    [product]="product"></app-product-card>
</div> -->
