figure img {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%)
}



.similar-items-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
