<div class="card card--contact-form">
  <header class="card-header">
    <p class="card-header-title">
      Get in Touch
    </p>
    <span class="card-header-icon has-text-grey-light">
      <span class="icon">
        <i class="fas fa-envelope-open" aria-hidden="true"></i>
      </span>
    </span>
  </header>
  <div class="card-content">
    <div class="content">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              class="input"
              [ngClass]="{'is-danger': !name.valid && name.touched}"
              type="text"
              placeholder="John Doe"
              ngModel
              name="name"
              required
              #name="ngModel" />
          </div>
          <p *ngIf="!name.valid && name.touched" class="help is-danger">Required field</p>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input"
              [ngClass]="{'is-danger': !email.valid && email.touched}"
              type="email"
              placeholder="email@email.com"
              ngModel
              name="email"
              required
              email
              #email="ngModel" />
          </div>
          <p *ngIf="!email.valid && email.touched" class="help is-danger">Please enter a valid email</p>
        </div>


        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea
              class="textarea"
              [ngClass]="{'is-danger': !message.valid && message.touched}"
              placeholder="Your message here"
              ngModel
              name="message"
              required
              #message="ngModel"></textarea>
          </div>
          <p *ngIf="!message.valid && message.touched" class="help is-danger">Required field</p>
        </div>


        <div class="field">
          <div class="control">
            <button
              class="button is-dark is-fullwidth"
              type="submit"
              [disabled]="!f.valid">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
