/* list layout */

.card--list__img {
  width: 150px;
}

.card--list__ctas {
  width: 130px;
}

.card--list__ctas div {
  display: flex;
  justify-content: center;
}

.card--list__price,
.card--list__ctas {
  padding-top: 35px;
}
